Django==3.2.11
djangorestframework==3.13.1
Faker==11.3.0
python-dotenv==0.19.2
user-agents==2.2.0
djangorestframework-simplejwt==4.4.0
PyJWT==1.7.1
requests==2.27.1
django-sslserver==0.22
django-crispy-forms==1.13.0