{% extends "base.html"%}
{% block content %}

<div class="card">
    <div class="card-body">
        {% csrf_token %}
    </div>
</div>


{% endblock content %} 



{% block script %}
<script>
    $('#signup').on('submit', (e)=>{
        const email = $("form#signup input[name='email']").val();
        const password = $("form#signup input[name='password']").val();
        const confirm_password = $("form#signup input[name='confirm_password']").val();
        signup(email, password);
        e.preventDefault();
    });

    const signup = (email, password) => {
        $.ajax({
            url: `${window.location.origin}/api/signup/`,
            type: "POST",
            data: {email, password},
            success: function(response){
                console.log(response);
            },
            error: function(jXHR){
                console.log(jXHR.responseJSON, jXHR.status, jXHR.statusText, jXHR);
            }
        });
    };
</script>
{% endblock script %} 